.join-us-btn {
  background-color: rgb(107, 136, 239); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.join-us-btn:hover {
  background: rgb(100, 130, 239);
}

.j {
  display: grid;
  place-items: center;
  margin: 25px 25px 25px 25px;
}
