.join-us-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.j {
  display: grid;
  place-items: center;
  margin: 25px 25px 25px 25px;
}
