@import url('https://fonts.googleapis.com/css2?family=B612:ital@1&display=swap');
@import url("./callout.css");

* {
  font-family: sans-serif;
}

:root {
  --font : B612;
  --backdrop : #18181B;
  --fore-ground-color : #7289DA;
}

body {
  background: var(--backdrop);
  color: var(--fore-ground-color);
}

.navbar {
  display: grid;
  place-items: center;
  margin : 10px 10px 10px 10px;
  margin-top: 30px;
}

.text{
  color: var(--fore-ground-color);
  font-weight: 700;
  font-family: var(--font);
}

.text::selection {
  color: inherit;
  background: inherit;
}

.lol {
  color: var(--fore-ground-color);
}